<main class="h-screen bg-gray-50">
  <div class="mx-auto flex h-full flex-col items-center justify-center px-6">
    <a href="" class="mb-8 text-2xl font-semibold lg:mb-8">
      <img src="assets/logo.png" class="h-20" />
    </a>
    <div
      class="w-full max-w-lg space-y-6 rounded-lg bg-white p-6 shadow sm:p-8"
    >
      <div class="space-y-2">
        <h2 class="text-xl font-bold text-gray-500">
          Réinitialiser le mot de passe
        </h2>
        <p class="text-sm font-medium text-gray-500">
          Réinitialisez votre mot de passe pour continuer
        </p>
      </div>
      <form [formGroup]="changePasswordForm" class="space-y-6">
        <!-- @if (error$ | async; as error) {
        <div>
          <app-alert [type]="'danger'" [message]="error" />
        </div>
        } -->
        <div>
          <app-input
            label="Ancien mot de passe"
            id="oldPassword"
            name="oldPassword"
            [type]="'password'"
            placeholder="&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;"
            formControlName="oldPassword"
            showRequiredIndicator="false"
          />
        </div>
        <div>
          <app-input
            label="Nouveau mot de passe"
            id="newPassword"
            name="newPassword"
            [type]="'password'"
            placeholder="&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;"
            formControlName="newPassword"
            showRequiredIndicator="false"
          />
        </div>
        <div>
          <app-button type="submit">Réinitialiser</app-button>
        </div>
      </form>
    </div>
  </div>
</main>
