<main class="bg-gray-50">
  <div
    class="pt:mt-0 mx-auto flex flex-col items-center justify-center px-6 pt-8 md:h-screen"
  >
    <a href="" class="mb-8 text-2xl font-semibold lg:mb-8">
      <img src="assets/logo.png" class="h-20" />
    </a>
    <div
      class="w-full max-w-xl space-y-8 rounded-lg bg-white p-6 shadow sm:p-8"
    >
      <h2 class="m-0 p-0 text-xl font-bold text-gray-500">
        Changer le mot de passe
      </h2>
      <form [formGroup]="changePasswordForm" class="mt-8 space-y-6">
        <div>
          <app-input
            label="Ancien mot de passe"
            id="oldPassword"
            name="oldPassword"
            [type]="'password'"
            placeholder="&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;"
            formControlName="oldPassword"
          />
        </div>
        <div>
          <app-input
            label="Nouveau mot de passe"
            id="newPassword"
            name="newPassword"
            [type]="'password'"
            placeholder="&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;"
            formControlName="newPassword"
          />
        </div>
        <div class="mb-2">
          <app-button type="submit">Changer le mot de passe</app-button>
        </div>
      </form>
    </div>
  </div>
</main>
