<main class="h-screen bg-gray-50">
  <div class="mx-auto flex h-full flex-col items-center justify-center px-6">
    <a class="mb-8 text-2xl font-semibold lg:mb-8">
      <img src="assets/logo.png" class="h-20" />
    </a>
    <div class="w-full max-w-lg rounded-lg bg-white p-6 shadow sm:p-8">
      <div class="mb-5 space-y-2">
        <h2 class="text-xl font-bold text-gray-500">
          Réinitialiser le mot de passe
        </h2>
        <p class="text-sm font-medium text-gray-500">
          Réinitialisez votre mot de passe pour continuer
        </p>
      </div>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <!-- @if (errorMessage$ | async; as error) {
          <div class="mb-5">
            <app-alert [message]="error" type="danger"></app-alert>
          </div>
        } -->
        <div class="mb-5">
          <app-input
            label="Ancien mot de passe"
            id="oldPassword"
            name="oldPassword"
            [type]="'password'"
            placeholder="&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;"
            formControlName="oldPassword"
            showRequiredIndicator="false"
          />
        </div>
        <div class="mb-5">
          <app-input
            label="Nouveau mot de passe"
            id="newPassword"
            name="newPassword"
            [type]="'password'"
            placeholder="&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;"
            formControlName="newPassword"
            showRequiredIndicator="false"
          />
        </div>
        <app-button type="submit">Réinitialiser</app-button>
      </form>
    </div>
  </div>
</main>
