@if (!hasCurrentAssembly) {
  <app-new-assembly-form />
} @else {
  <div class="md:flex">
    <ul
      class="flex-column space-y mb-4 max-w-max space-y-4 whitespace-nowrap text-sm font-medium text-gray-500 md:mb-0 md:me-4"
    >
      <li>
        <a
          class="inline-flex w-full items-center rounded-lg bg-gray-50 px-4 py-3 hover:bg-gray-100 hover:bg-none hover:text-gray-900"
          routerLink="/preparation-assemblee/nouvelle-assemblee/assemblee-en-cours"
          routerLinkActive="bg-primary-700 text-white hover:bg-primary-700 hover:text-white"
        >
          Assemblée en cours
        </a>
      </li>
      <li>
        <a
          class="inline-flex w-full items-center rounded-lg bg-gray-50 px-4 py-3 hover:bg-gray-100 hover:text-gray-900 dark:hover:text-white"
          routerLink="/preparation-assemblee/nouvelle-assemblee/suivi-fdr"
          routerLinkActive="bg-primary-700 text-white hover:bg-primary-700 hover:text-white"
        >
          Suivi FDR
        </a>
      </li>
    </ul>
    <div
      class="text-medium w-full overflow-auto rounded-lg bg-gray-50 text-gray-500"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
}
