<label
  [for]="id"
  class="mb-2 block text-sm font-medium text-gray-500"
  [ngClass]="{ 'text-red-700': control.touched && control.invalid }"
>
  {{ label }}
  @if (
    showRequiredIndicator &&
    (required || control.hasValidator(Validators.required))
  ) {
    <abbr title="required" class="text-red-700">*</abbr>
  }
</label>
<select
  #select
  [id]="id"
  [name]="name"
  [value]="value"
  (focusout)="onTouch()"
  (input)="onChange(select.value)"
  class="block w-full rounded-lg border-gray-300 bg-gray-50 p-2.5 text-gray-500 focus:border-primary-500 focus:ring-primary-500 sm:text-sm"
  [ngClass]="{
    'border-red-500 bg-red-50 text-sm text-red-900 placeholder-red-700 focus:border-red-500 focus:ring-red-500':
      control.touched && control.invalid
  }"
>
  @for (option of options; track option.value) {
    <option [value]="option.value" [selected]="option.value === value">
      {{ option.label }}
    </option>
  }
</select>
@if (control.touched && control.invalid) {
  <p class="mt-2 text-sm text-red-600">
    <span class="font-medium">
      {{ validationErrorService.getErrorMessage(control.errors) }}
    </span>
  </p>
}
