<div class="grid grid-cols-1 gap-4 xl:grid-cols-3">
  <div class="col-span-2 xl:col-auto"></div>
  <div class="col-span-2">
    <div
      class="space-y-6 rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6 2xl:col-span-2"
    >
      <div class="flex items-center justify-between">
        <h3 class="text-xl font-semibold text-gray-500">
          Profils des utilisateurs
        </h3>
      </div>
      <div class="mt-6 flex flex-col">
        <div class="overflow-x-auto">
          <div class="inline-block min-w-full align-middle">
            <div class="overflow-y-hidden shadow">
              <table class="min-w-full border-collapse border border-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th
                      scope="col"
                      class="border border-gray-200 p-4 text-left text-xs font-medium uppercase tracking-wider text-gray-500"
                    >
                      Profil
                    </th>
                    <th
                      scope="col"
                      class="border border-gray-200 p-4 text-left text-xs font-medium uppercase tracking-wider text-gray-500"
                    >
                      Accès
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white">
                  <tr *ngFor="let profile of profiles">
                    <td
                      class="border border-gray-200 p-4 text-sm font-normal text-gray-500"
                    >
                      {{ profile.name }}
                    </td>
                    <td
                      class="border border-gray-200 p-4 text-sm font-normal text-gray-500"
                    >
                      <p-tree
                        [value]="treeData[profile.name]"
                        selectionMode="checkbox"
                        [(selection)]="selectedNodes[profile.name]"
                      ></p-tree>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
