<div
  class="pt:mt-0 mx-auto flex flex-col items-center justify-center px-6 pt-8 dark:bg-gray-900 md:h-screen"
>
  <a href="" class="mb-8 text-2xl font-semibold dark:text-white lg:mb-8">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/a/a8/LOGO_CIMR.png"
      class="mr-4 h-20"
    />
  </a>
  <div
    class="w-full max-w-xl space-y-8 rounded-lg bg-white p-6 shadow dark:bg-gray-800 sm:p-8"
  >
    <h2 class="text-lg font-semibold text-gray-500 dark:text-white">
      Se connecter
    </h2>
    <form class="mt-8 space-y-6" action="#">
      <div>
        <label
          for="username"
          class="mb-2 block text-sm font-medium text-gray-500 dark:text-white"
          >Identifiant</label
        >
        <input
          type="email"
          name="username"
          id="username"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500 sm:text-sm"
          placeholder="exemple@cimr.ma"
          required
        />
      </div>
      <div>
        <label
          for="password"
          class="mb-2 block text-sm font-medium text-gray-500 dark:text-white"
          >Mot de passe</label
        >
        <input
          type="password"
          name="password"
          id="password"
          placeholder="••••••••"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500 sm:text-sm"
          required
        />
      </div>
      <button
        type="submit"
        class="w-full rounded-lg bg-primary-700 px-5 py-3 text-center text-sm font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:w-auto"
      >
        Connexion
      </button>
    </form>
  </div>
</div>
