<div
  class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6 2xl:col-span-2"
>
  <h3 class="mb-4 text-xl font-semibold text-gray-500">
    Ajouter un utilisateur
  </h3>
  <form [formGroup]="userForm" (ngSubmit)="addUser()">
    <div class="mb-4">
      <app-input
        label="Prénom"
        id="firstName"
        name="firstName"
        [type]="'text'"
        placeholder="John"
        formControlName="firstName"
        showRequiredIndicator="true"
      />
    </div>
    <div class="mb-4">
      <app-input
        label="Nom"
        id="lastName"
        name="lastName"
        [type]="'text'"
        placeholder="Doe"
        formControlName="lastName"
        showRequiredIndicator="true"
      />
    </div>
    <div class="mb-4">
      <app-select
        label="Profil"
        id="profile"
        name="profile"
        [options]="(profileOptions$ | async) ?? []"
        formControlName="profileId"
        showRequiredIndicator="true"
      />
    </div>
    <div class="mb-6">
      <app-input
        label="Email"
        id="email"
        name="email"
        [type]="'email'"
        placeholder="john.doe@gmail.com"
        formControlName="email"
        showRequiredIndicator="true"
      />
    </div>
    <div class="flex gap-2">
      <app-button type="submit">Valider</app-button>
      <app-button type="reset" buttonType="light" (click)="resetForm()"
        >Annuler</app-button
      >
    </div>
  </form>
</div>
