<div
  class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6 2xl:col-span-2"
>
  <h3 class="mb-4 text-xl font-semibold text-gray-500">
    {{ formTitle }}
  </h3>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="mb-5" *ngIf="errorMessage">
      <app-alert [message]="errorMessage" type="danger"></app-alert>
    </div>
    <div class="mb-5">
      <app-input
        label="Prénom"
        id="firstName"
        name="firstName"
        [type]="'text'"
        placeholder="Prénom"
        formControlName="firstName"
        [disabled]="userForm.get('firstName')?.disabled || false"
        [showRequiredIndicator]="!isEditMode"
      />
    </div>
    <div class="mb-5">
      <app-input
        label="Nom"
        id="lastName"
        name="lastName"
        [type]="'text'"
        placeholder="Nom"
        formControlName="lastName"
        [disabled]="userForm.get('lastName')?.disabled || false"
        [showRequiredIndicator]="!isEditMode"
      />
    </div>
    <div class="mb-5">
      <app-select
        label="Profil"
        id="profile"
        name="profileId"
        [options]="options"
        placeholder="Sélectionner un profil"
        formControlName="profileId"
        showRequiredIndicator="true"
      />
    </div>
    <div class="mb-5">
      <app-input
        label="Email"
        id="email"
        name="email"
        [type]="'email'"
        placeholder="exemple@cimr.ma"
        formControlName="email"
        showRequiredIndicator="true"
      />
    </div>
    <div class="flex gap-2">
      <app-button type="submit">Valider</app-button>
      <app-button type="button" buttonType="light" (click)="resetForm()"
        >Annuler</app-button
      >
    </div>
  </form>
</div>
