<div class="grid grid-cols-1 xl:grid-cols-3 xl:gap-4">
  <div class="col-span-2">
    <div
      class="mb-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6 2xl:col-span-2"
    >
      <p class="mb-6 text-sm text-gray-500">
        Veuillez compléter la création de l'assemblée par les informations
        suivantes:
      </p>
      <form [formGroup]="newAssemblyForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <app-select
              label="Type"
              id="type"
              name="type"
              [options]="types"
              placeholder="Sélectionner un type"
              formControlName="type"
              showRequiredIndicator="true"
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <app-select
              label="Année"
              id="year"
              name="year"
              [options]="years"
              placeholder="Sélectionner une année"
              formControlName="year"
              showRequiredIndicator="true"
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <app-input
              label="Jour"
              id="day"
              name="day"
              [type]="'date'"
              formControlName="day"
              showRequiredIndicator="true"
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <app-input
              label="Heure"
              id="time"
              name="time"
              [type]="'time'"
              formControlName="time"
              showRequiredIndicator="true"
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <app-input
              label="Adresse"
              id="address"
              name="address"
              [type]="'text'"
              placeholder="Adresse"
              formControlName="address"
              showRequiredIndicator="true"
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <app-select
              label="Ville"
              id="city"
              name="city"
              [options]="cities"
              placeholder="Sélectionner une ville"
              formControlName="city"
              showRequiredIndicator="true"
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label
              class="mb-2 block text-sm font-medium text-gray-500"
              for="routeSheet"
              >Feuille de route (FDR)
              <span class="font-medium text-red-600">*</span></label
            >
            <input
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-gray-500 placeholder-gray-500 focus:border-primary-500 focus:outline-none focus:ring-primary-500 sm:text-sm"
              id="routeSheet"
              type="file"
              name="routeSheet"
              #routeSheetInput
              (change)="onFileChange($event, 'routeSheet')"
              required
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label
              class="mb-2 block text-sm font-medium text-gray-500"
              for="invitationLetter"
              >Lettre de convocation des adhérents
              <span class="font-medium text-red-600">*</span></label
            >
            <input
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-gray-500 placeholder-gray-500 focus:border-primary-500 focus:outline-none focus:ring-primary-500 sm:text-sm"
              id="invitationLetter"
              type="file"
              name="invitationLetter"
              #invitationLetterInput
              (change)="onFileChange($event, 'invitationLetter')"
              required
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label
              class="mb-2 block text-sm font-medium text-gray-500"
              for="attendanceSheet"
              >Feuille de présence
              <span class="font-medium text-red-600">*</span></label
            >
            <input
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-gray-500 placeholder-gray-500 focus:border-primary-500 focus:outline-none focus:ring-primary-500 sm:text-sm"
              id="attendanceSheet"
              type="file"
              name="attendanceSheet"
              #attendanceSheetInput
              (change)="onFileChange($event, 'attendanceSheet')"
              required
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label
              class="mb-2 block text-sm font-medium text-gray-500"
              for="proxy"
              >Pouvoir <span class="font-medium text-red-600">*</span></label
            >
            <input
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-gray-500 placeholder-gray-500 focus:border-primary-500 focus:outline-none focus:ring-primary-500 sm:text-sm"
              id="proxy"
              type="file"
              name="proxy"
              #proxyInput
              (change)="onFileChange($event, 'proxy')"
              required
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label
              class="mb-2 block text-sm font-medium text-gray-500"
              for="attendanceForm"
              >Fiche de présence
              <span class="font-medium text-red-600">*</span></label
            >
            <input
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-gray-500 placeholder-gray-500 focus:border-primary-500 focus:outline-none focus:ring-primary-500 sm:text-sm"
              id="attendanceForm"
              type="file"
              name="attendanceForm"
              #attendanceFormInput
              (change)="onFileChange($event, 'attendanceForm')"
              required
            />
          </div>
          <div class="sm:col-full col-span-6 flex justify-end gap-2">
            <app-button type="button" buttonType="light" (click)="resetForm()"
              >Annuler</app-button
            >
            <app-button type="submit">Créer</app-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
