<div class="grid grid-cols-1 gap-4 xl:grid-cols-3">
  <div class="col-span-2 xl:col-auto">
    <div
      class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6 2xl:col-span-2"
    >
      <h3 class="mb-4 text-xl font-semibold text-gray-500">
        Motif des retours des courriers de convocation
      </h3>
      <form [formGroup]="addReasonForm" (ngSubmit)="onSubmit()">
        <!-- <div class="mb-5" *ngIf="errorMessage">
          <app-alert [message]="errorMessage" type="danger"></app-alert>
        </div> -->
        <div class="mb-5">
          <app-input
            label="Motif"
            id="description"
            name="description"
            [type]="'text'"
            placeholder="Motif"
            formControlName="description"
            [showRequiredIndicator]="true"
          />
        </div>
        <div class="flex gap-2">
          <app-button type="submit">Valider</app-button>
          <app-button type="button" buttonType="light">Annuler</app-button>
        </div>
      </form>
      <div class="mt-6 flex flex-col">
        <div class="overflow-x-auto">
          <div class="inline-block min-w-full align-middle">
            <div class="max-h-64 overflow-y-auto shadow">
              <table
                class="min-w-full border-collapse divide-y divide-gray-200 border border-gray-200"
              >
                <thead class="bg-gray-50">
                  <tr>
                    <th
                      scope="col"
                      class="border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                    >
                      Motif
                    </th>
                    <th
                      scope="col"
                      class="border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                    >
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white">
                  <tr *ngIf="reasons.length === 0">
                    <td
                      colspan="5"
                      class="border border-gray-200 p-4 text-center text-sm font-normal text-gray-500"
                    >
                      Aucun motif trouvé.
                    </td>
                  </tr>
                  <tr *ngFor="let reason of reasons">
                    <td
                      class="border border-gray-200 p-4 text-sm font-normal text-gray-500"
                    >
                      {{ reason.description }}
                    </td>
                    <td class="border border-gray-200 p-4">
                      <div class="flex">
                        <button
                          type="button"
                          (click)="openEditReasonModal(reason)"
                          class="inline-flex items-center rounded-lg px-1 py-1 text-center text-sm font-medium text-primary-700 focus:outline-none"
                        >
                          <svg
                            class="h-4 w-4"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"
                            ></path>
                            <path
                              fill-rule="evenodd"
                              d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                              clip-rule="evenodd"
                            ></path>
                          </svg>
                        </button>
                        <button
                          type="button"
                          class="inline-flex items-center rounded-lg px-3 py-2 text-center text-sm font-medium text-red-800 focus:outline-none"
                          (click)="deleteReason(reason.id)"
                        >
                          <svg
                            class="h-4 w-4 text-red-600 dark:text-white"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="currentColor"
                            viewBox="0 0 24 24"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="fixed left-0 right-0 top-4 z-50 hidden h-modal items-center justify-center overflow-y-auto overflow-x-hidden sm:h-full md:inset-0"
  id="editReasonModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="relative h-full w-full max-w-2xl px-4 md:h-auto">
    <div class="relative rounded-lg bg-white shadow dark:bg-gray-800">
      <div
        class="flex items-start justify-between rounded-t border-b p-5 dark:border-gray-700"
      >
        <h3 class="text-xl font-semibold dark:text-white">Modifier motif</h3>
        <button
          type="button"
          class="ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-700 dark:hover:text-white"
          (click)="closeEditReasonModal()"
        >
          <svg
            class="h-5 w-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
      <!-- Modal body -->
      <div class="space-y-6 p-6" *ngIf="selectedReason">
        <form [formGroup]="updateReasonForm" (ngSubmit)="updateReason()">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6">
              <app-input
                label="Motif"
                id="description"
                name="description"
                [type]="'text'"
                formControlName="description"
                placeholder="Motif"
                showRequiredIndicator="true"
              />
            </div>
          </div>
          <div
            class="items-center rounded-b border-gray-200 pt-6 dark:border-gray-700"
          >
            <button
              class="rounded-lg bg-primary-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300"
              type="submit"
            >
              Modifier
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
