@layer tw-base, primeng, tw-components, tw-utilities, tw-variants;
@import "tailwindcss/base.css" layer(tw-base);
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/aura-light-lime/theme.css";
@import "primeicons/primeicons";
@import "tailwindcss/components.css" layer(tw-components);
@import "tailwindcss/utilities.css" layer(tw-utilities);
@import "tailwindcss/variants.css" layer(tw-variants);

// @import "primeng/resources/primeng.css";
// @import "primeng/resources/themes/aura-light-lime/theme.css";
// @import "primeicons/primeicons.css";

// @layer tailwind-base {
//   @tailwind base;
// }

// @layer tailwind-utilities {
//   @tailwind components;
//   @tailwind utilities;
// }

// .p-treenode-toggler,
// .p-tree-toggler-icon,
// .p-ripple.p-element.p-tree-toggler.p-link {
//   display: none !important;
// }

.p-treenode-label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: rgb(107 114 128 / 1);
}

.p-treenode-content.p-treenode-selectable {
  background: transparent;
  outline: none;
}

.p-tree {
  padding: 0;
  // .p-tree-container {
  //   .p-treenode:focus > .p-treenode-content {
  //     outline: none;
  //   }
  // }
}

.p-checkbox-box {
  height: 1rem;
  width: 1rem;
  border-radius: 0.25rem; /* Rounded corners */
  border: 1px solid #d1d5db; /* Border color (gray-300) */
  background-color: #f9fafb; /* Background color (gray-50) */
}

// .p-checkbox-box.p-highlight {
//   background-color: #77ad1a !important; /* Checked background color (primary-500) */
//   border-color: #77ad1a !important; /* Checked border color (primary-500) */
// }

// .p-checkbox-box .p-checkbox-icon {
//   color: #ffffff !important; /* Color of the checkmark */
// }

// .p-checkbox {
//   display: flex;
//   align-items: center;
// }

/* Appliquez vos styles à la checkbox générée par PrimeNG */
.p-checkbox-box {
  height: 1rem;
  width: 1rem;
  border-radius: 0.25rem; /* Rounded corners */
  border: 1px solid #d1d5db; /* Border color (gray-300) */
  background-color: #f9fafb; /* Background color (gray-50) */
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-checkbox-box.p-highlight {
  background-color: #84cc16 !important; /* Checked background color (green) */
  border-color: rgb(209 213 219 / 1) !important;
}

// .p-checkbox-box .p-checkbox-icon {
//   color: #ffffff !important; /* Color of the checkmark */
//   font-size: 0.75rem; /* Adjust the size of the checkmark */
// }

.p-checkbox {
  display: flex;
  align-items: center;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-checkbox {
  margin-right: 0.3rem;
}

.p-treeselect {
  width: 100%;
}

.p-checkbox .p-checkbox-box .p-icon {
  width: 0.6rem;
}

.p-checkbox-box.p-highlight::before {
  content: "\2713"; /* Code Unicode pour une coche */
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Assurez-vous que l'icône par défaut est masquée */
.p-checkbox-box.p-highlight .p-checkbox-icon {
  display: none;
}

.container {
  overflow: hidden; /* Assurez-vous que le conteneur principal ne provoque pas de défilement */
}

.p-treeselect .p-treeselect-label-container {
  overflow: hidden;
  flex: 1 1 auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  // padding: 0.5rem;
  border-radius: 0.375rem; /* rounded-lg */
  // border: 1px solid #d1d5db; /* border-gray-300 */
  background-color: #f9fafb; /* bg-gray-50 */
  color: #6b7280; /* text-gray-500 */
  font-size: 0.875rem; /* sm:text-sm */
}

.p-treeselect .p-treeselect-label-container:focus-within {
  border-color: #3b82f6; /* focus:border-primary-500 */
  outline: none; /* focus:outline-none */
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5); /* focus:ring-primary-500 */
}

.p-treeselect .p-treeselect-trigger {
  border-radius: 0.375rem; /* rounded-lg */
  padding: 0.5rem;
  background-color: #f9fafb; /* bg-gray-50 */
  color: #6b7280; /* text-gray-500 */
  font-size: 0.875rem; /* sm:text-sm */
}

.p-treeselect .p-treeselect-items {
  background-color: #f9fafb; /* bg-gray-50 */
}

.p-treeselect .p-treeselect-item {
  color: #6b7280; /* text-gray-500 */
}

.hidden-for-pdf {
  display: none !important;
}
