@layer tw-base, primeng, tw-components, tw-utilities, tw-variants;
@import "tailwindcss/base.css" layer(tw-base);
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/aura-light-lime/theme.css";
@import "primeicons/primeicons";
@import "tailwindcss/components.css" layer(tw-components);
@import "tailwindcss/utilities.css" layer(tw-utilities);
@import "tailwindcss/variants.css" layer(tw-variants);

// @import "primeng/resources/primeng.css";
// @import "primeng/resources/themes/aura-light-lime/theme.css";
// @import "primeicons/primeicons.css";

// @layer tailwind-base {
//   @tailwind base;
// }

// @layer tailwind-utilities {
//   @tailwind components;
//   @tailwind utilities;
// }

.p-treenode {
  .p-treenode-toggler,
  .p-tree-toggler-icon,
  .p-ripple.p-element.p-tree-toggler.p-link {
    display: none !important;
  }

  .p-treenode-content.p-treenode-selectable {
    background: transparent;
  }

  &:focus > .p-treenode-content {
    outline: none;
  }
}

.p-tree {
  .p-tree-container {
    .p-treenode:focus > .p-treenode-content {
      outline: none;
    }
  }
}

.p-checkbox-box {
  height: 1rem;
  width: 1rem;
  border-radius: 0.25rem; /* Rounded corners */
  border: 1px solid #d1d5db; /* Border color (gray-300) */
  background-color: #f9fafb; /* Background color (gray-50) */
}

.p-checkbox-box.p-highlight {
  background-color: #77ad1a !important; /* Checked background color (primary-500) */
  border-color: #77ad1a !important; /* Checked border color (primary-500) */
}

.p-checkbox-box .p-checkbox-icon {
  color: #ffffff !important; /* Color of the checkmark */
}

.p-checkbox {
  display: flex;
  align-items: center;
}

/* Appliquez vos styles à la checkbox générée par PrimeNG */
.p-checkbox-box {
  height: 1rem;
  width: 1rem;
  border-radius: 0.25rem; /* Rounded corners */
  border: 1px solid #d1d5db; /* Border color (gray-300) */
  background-color: #f9fafb; /* Background color (gray-50) */
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-checkbox-box.p-highlight {
  background-color: #84cc16 !important; /* Checked background color (green) */
  border-color: #84cc16 !important; /* Checked border color (green) */
}

.p-checkbox-box .p-checkbox-icon {
  color: #ffffff !important; /* Color of the checkmark */
  font-size: 0.75rem; /* Adjust the size of the checkmark */
}

.p-checkbox {
  display: flex;
  align-items: center;
}
