<div class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6">
  <div class="flex flex-col">
    <div class="sm:flex">
      <div class="ml-auto flex items-center space-x-2 sm:space-x-3">
        <a
          role="button"
          (click)="exportPDF()"
          class="inline-flex w-1/2 items-center justify-center rounded-lg border border-gray-300 bg-white px-3 py-2 text-center text-sm font-medium text-red-600 hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700 sm:w-auto"
        >
          <svg
            class="-ml-1 mr-2 h-5 w-5 text-red-600"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z"
              clip-rule="evenodd"
            ></path>
          </svg>
          Exporter PDF
        </a>
        <a
          role="button"
          (click)="exportCSV()"
          class="inline-flex w-1/2 items-center justify-center rounded-lg border border-gray-300 bg-white px-3 py-2 text-center text-sm font-medium text-primary-700 hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700 sm:w-auto"
        >
          <svg
            class="-ml-1 mr-2 h-5 w-5 text-primary-700"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z"
              clip-rule="evenodd"
            ></path>
          </svg>
          Exporter CSV
        </a>
      </div>
    </div>
  </div>
  <div class="mt-6 flex flex-col">
    <div class="max-h-[450px] overflow-x-auto overflow-y-auto">
      <div class="inline-block min-w-full overflow-x-auto align-middle">
        <div class="overflow-hidden overflow-x-auto shadow">
          <table
            class="min-w-full table-auto border-collapse divide-y overflow-x-auto border border-gray-200"
          >
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" *ngIf="members.length > 0"></th>
                <th
                  scope="col"
                  class="whitespace-nowrap border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  N° Adhérent
                </th>
                <th
                  scope="col"
                  class="whitespace-nowrap border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  Type
                </th>
                <th
                  scope="col"
                  class="whitespace-nowrap border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  Raison sociale
                </th>
                <th
                  scope="col"
                  class="whitespace-nowrap border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  Adresse 1
                </th>
                <th
                  scope="col"
                  class="whitespace-nowrap border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  Adresse 2
                </th>
                <th
                  scope="col"
                  class="whitespace-nowrap border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  Ville
                </th>
                <th
                  scope="col"
                  class="whitespace-nowrap border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  Agent
                </th>
                <th
                  scope="col"
                  class="whitespace-nowrap border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  Statut
                </th>
                <th
                  scope="col"
                  class="whitespace-nowrap border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  Date affectation
                </th>
                <th
                  scope="col"
                  class="whitespace-nowrap border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  Date édition
                </th>
              </tr>
            </thead>
            <tbody class="bg-white">
              <tr *ngIf="members.length === 0">
                <td
                  colspan="16"
                  class="border border-gray-200 p-4 text-center text-sm font-normal text-gray-500"
                >
                  Aucun utilisateur trouvé.
                </td>
              </tr>
              <tr *ngFor="let member of members; let i = index">
                <td
                  class="w-4 border border-gray-200 p-4"
                  *ngIf="members.length > 0"
                >
                  <div class="flex items-center">
                    <input
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 bg-gray-50 checked:bg-primary-500 checked:ring-primary-500 focus:ring-0 focus:ring-offset-0"
                      (change)="
                        toggleMemberSelection(member.memberNumber, $event)
                      "
                      [checked]="isSelected(member.memberNumber)"
                    />
                  </div>
                </td>
                <td
                  class="whitespace-nowrap border border-gray-200 p-4 text-sm font-normal text-gray-500 dark:text-gray-400"
                >
                  {{ member.memberNumber }}
                </td>
                <td
                  class="whitespace-nowrap border border-gray-200 p-4 text-sm font-normal text-gray-500 dark:text-gray-400"
                >
                  {{ member.type }}
                </td>
                <td
                  class="whitespace-nowrap border border-gray-200 p-4 text-sm font-normal text-gray-500 dark:text-gray-400"
                >
                  {{ member.companyName }}
                </td>
                <td
                  class="whitespace-nowrap border border-gray-200 p-4 text-sm font-normal text-gray-500 dark:text-gray-400"
                >
                  {{ member.address1 }}
                </td>
                <td
                  class="whitespace-nowrap border border-gray-200 p-4 text-sm font-normal text-gray-500 dark:text-gray-400"
                >
                  {{ member.address2 }}
                </td>
                <td
                  class="whitespace-nowrap border border-gray-200 p-4 text-sm font-normal text-gray-500 dark:text-gray-400"
                >
                  {{ member.city }}
                </td>
                <td
                  class="whitespace-nowrap border border-gray-200 p-4 text-sm font-normal text-gray-500 dark:text-gray-400"
                >
                  {{ member.agentFullName }}
                </td>
                <td
                  class="whitespace-nowrap border border-gray-200 p-4 text-sm font-normal text-gray-500 dark:text-gray-400"
                >
                  {{ member.status }}
                </td>
                <td
                  class="whitespace-nowrap border border-gray-200 p-4 text-sm font-normal text-gray-500 dark:text-gray-400"
                >
                  {{ member.assignmentDate | date: "shortDate" }}
                </td>
                <td
                  class="whitespace-nowrap border border-gray-200 p-4 text-sm font-normal text-gray-500 dark:text-gray-400"
                >
                  {{ member.editionDate | date: "shortDate" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="flex justify-end gap-2 pt-3 sm:pt-6">
    <app-button type="button" buttonType="default" (click)="onEdit()"
      >Éditer</app-button
    >
  </div> -->
</div>

<div class="mt-6 grid grid-cols-1 xl:grid-cols-3 xl:gap-4">
  <div class="col-span-2">
    <div
      class="mb-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6"
    >
      <!-- <h3 class="mb-6 text-xl font-semibold text-gray-500">
        Affectation des adhérents
      </h3> -->

      <!-- Radios, Dropdown, and Button on the same line -->
      <div class="flex items-center space-x-4">
        <!-- Radios for selecting assignment type -->
        <!-- <div class="flex items-center space-x-4">
          <label class="flex items-center">
            <input
              type="radio"
              name="assignmentType"
              [(ngModel)]="assignmentType"
              value="manual"
              class="form-radio h-4 w-4 text-primary-700 focus:ring-0 focus:ring-offset-0"
            />
            <span class="ml-2 text-sm text-gray-500">Manuelle</span>
          </label>

          <label class="flex items-center">
            <input
              type="radio"
              name="assignmentType"
              [(ngModel)]="assignmentType"
              value="automatic"
              class="form-radio h-4 w-4 text-primary-700 focus:ring-0 focus:ring-offset-0"
            />
            <span class="ml-2 text-sm text-gray-500">Automatique</span>
          </label>
        </div> -->

        <!-- Dropdown for selecting an agent (visible only in manual mode) -->
        <div class="flex-1">
          <form [formGroup]="form">
            <app-select
              id="agent"
              name="agent"
              [options]="agents"
              placeholder="Sélectionner un agent"
              formControlName="agent"
              class="w-full"
            />
          </form>
        </div>

        <!-- Button for triggering assignment -->
        <div class="flex items-center gap-2">
          <button
            (click)="reassignMember()"
            class="rounded-lg bg-primary-700 p-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:ring-0"
          >
            Réaffecter
          </button>
          <button
            class="rounded-lg border border-gray-300 bg-white p-2.5 text-sm font-medium text-primary-700 hover:bg-gray-100 focus:ring-0"
          >
            Annuler
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
