<div
  class="mb-6 flex items-center rounded-lg border border-gray-300 bg-gray-50 p-4 text-sm text-gray-800 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-300"
  role="alert"
>
  <svg
    class="me-3 inline h-4 w-4 flex-shrink-0"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 20 20"
  >
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
    />
  </svg>
  <div *ngIf="currentAssemblyDetails">
    Organisation de l'assemblée générale
    <span class="font-medium">{{ currentAssemblyDetails?.type }}</span>
    (<span class="font-medium">{{
      currentAssemblyDetails?.day | date: "shortDate"
    }}</span
    >):
  </div>
</div>

<div class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6">
  <div class="items-center justify-between lg:flex">
    <div class="mb-4 lg:mb-0">
      <span class="text-sm font-normal text-gray-500"
        >Choisissez le(s) actions que vous souhaitez compléter:</span
      >
    </div>
  </div>
  <div class="mt-6 flex flex-col">
    <div class="max-h-[450px] overflow-x-auto overflow-y-auto">
      <div class="inline-block min-w-full overflow-x-auto align-middle">
        <div class="overflow-hidden overflow-x-auto shadow">
          <table
            class="min-w-full table-auto border-collapse divide-y overflow-x-auto border border-gray-200"
          >
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="border border-white border-r-gray-200 bg-white text-left text-xs font-medium tracking-wider text-gray-500"
                ></th>
                <th
                  scope="col"
                  class="border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  Nom de l'action
                </th>
                <th
                  scope="col"
                  class="whitespace-nowrap border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  Date début
                </th>
                <th
                  scope="col"
                  class="whitespace-nowrap border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  Date fin
                </th>
                <th
                  scope="col"
                  class="whitespace-nowrap border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  Date de réalisation
                </th>
                <th
                  scope="col"
                  class="border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  Responsable
                </th>
                <th
                  scope="col"
                  class="border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  Livrable
                </th>
                <th
                  scope="col"
                  class="border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  État
                </th>
                <th
                  scope="col"
                  class="border border-gray-200 p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                >
                  Observation
                </th>
                <th scope="col" class="border border-white bg-white p-2"></th>
                <th scope="col" class="border border-white bg-white"></th>
                <!-- <th
                  scope="col"
                  class="p-4 text-left text-xs font-medium tracking-wider text-gray-500"
                ></th> -->
              </tr>
            </thead>
            <tbody class="bg-white">
              <tr *ngFor="let action of actions; let i = index">
                <td class="relative border border-white border-r-gray-200 pr-2">
                  <button
                    class="inline-flex items-center rounded-lg bg-white p-2 text-center text-sm font-medium text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-50"
                    type="button"
                    (click)="toggleDropdown(i)"
                  >
                    <svg
                      class="h-5 w-5 text-gray-500"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                      aria-hidden="true"
                    >
                      <path
                        d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"
                      ></path>
                    </svg>
                  </button>
                  <!-- Dropdown menu -->
                  <div
                    id="operationsDropdownMenu"
                    [ngClass]="{
                      hidden: !dropdownOpen[i],
                      block: dropdownOpen[i]
                    }"
                    class="absolute left-0 top-full z-50 w-36 divide-y divide-gray-100 rounded bg-white shadow-lg"
                  >
                    <ul
                      class="py-1 text-sm text-gray-700"
                      aria-labelledby="dropdownMenuIconHorizontalButton"
                    >
                      <li>
                        <a
                          class="block cursor-pointer px-4 py-2 hover:bg-gray-100"
                          type="button"
                          (click)="openEditActionModal(action)"
                          >Modifier</a
                        >
                      </li>
                      <li>
                        <a
                          class="block cursor-pointer px-4 py-2 hover:bg-gray-100"
                          (click)="openActionDetailsModal(action)"
                          >Consulter</a
                        >
                      </li>
                      <li>
                        <a
                          class="block cursor-pointer px-4 py-2 hover:bg-gray-100"
                          type="button"
                          >Clôturer</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
                <td
                  class="max-w-xs truncate border border-gray-200 p-4 text-sm font-normal text-gray-500"
                >
                  {{ action.name }}
                </td>
                <td
                  class="border border-gray-200 p-4 text-sm font-normal text-gray-500 dark:text-gray-400"
                >
                  {{ action.startDate | date: "shortDate" }}
                </td>
                <td
                  class="border border-gray-200 p-4 text-sm font-normal text-gray-500 dark:text-white"
                >
                  {{ action.endDate | date: "shortDate" }}
                </td>
                <td
                  class="border border-gray-200 p-4 text-sm font-normal text-gray-500 dark:text-gray-400"
                >
                  {{ action.realizationDate | date: "shortDate" }}
                </td>
                <td
                  class="tuncate max-w-xs border border-gray-200 p-4 text-sm font-normal text-gray-500 dark:text-gray-400"
                >
                  {{ action.responsible }}
                </td>
                <td
                  class="border border-gray-200 p-4 text-sm font-normal text-gray-500 dark:text-gray-400"
                >
                  {{ action.deliverable }}
                </td>
                <td
                  class="border border-gray-200 p-4 text-sm font-normal text-gray-500 dark:text-gray-400"
                >
                  <span *ngIf="action.progressStatus > 0">
                    {{ action.progressStatus / 100 | percent: "1.0-0" }}
                  </span>
                </td>
                <td
                  class="max-w-xs truncate border border-gray-200 p-4 text-sm font-normal text-gray-500"
                >
                  {{ action.observation }}
                </td>
                <td
                  class="border border-white p-2 text-sm font-normal text-gray-500"
                >
                  <div>
                    <svg
                      *ngIf="
                        action.attachments && action.attachments.length > 0
                      "
                      class="h-5 w-5 text-gray-500"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M7 8v8a5 5 0 1 0 10 0V6.5a3.5 3.5 0 1 0-7 0V15a2 2 0 0 0 4 0V8"
                      />
                    </svg>
                  </div>
                </td>
                <td
                  class="border border-white pr-4 text-sm font-normal text-gray-500"
                >
                  <div
                    [ngClass]="{
                      'h-4 w-4 rounded-full': true,
                      'bg-primary-700': action.progressStatus == 100,
                      'bg-warning-500':
                        action.progressStatus >= 50 &&
                        action.progressStatus < 100,
                      'bg-red-600': action.progressStatus < 50
                    }"
                  ></div>
                </td>
                <!-- <td class="border border-gray-200 p-4">
                  <div class="flex">
                    <button
                      type="button"
                      (click)="openEditActionModal(action)"
                      class="inline-flex items-center rounded-lg px-1 py-1 text-center text-sm font-medium text-primary-700 focus:outline-none"
                    >
                      <svg
                        class="h-4 w-4"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"
                        ></path>
                        <path
                          fill-rule="evenodd"
                          d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                          clip-rule="evenodd"
                        ></path>
                      </svg>
                    </button>
                    <button
                      type="button"
                      (click)="openActionDetailsModal(action)"
                      class="inline-flex items-center rounded-lg px-3 py-2 text-center text-sm font-medium text-warning-800 focus:outline-none"
                    >
                      <svg
                        class="h-4 w-4"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M4.998 7.78C6.729 6.345 9.198 5 12 5c2.802 0 5.27 1.345 7.002 2.78a12.713 12.713 0 0 1 2.096 2.183c.253.344.465.682.618.997.14.286.284.658.284 1.04s-.145.754-.284 1.04a6.6 6.6 0 0 1-.618.997 12.712 12.712 0 0 1-2.096 2.183C17.271 17.655 14.802 19 12 19c-2.802 0-5.27-1.345-7.002-2.78a12.712 12.712 0 0 1-2.096-2.183 6.6 6.6 0 0 1-.618-.997C2.144 12.754 2 12.382 2 12s.145-.754.284-1.04c.153-.315.365-.653.618-.997A12.714 12.714 0 0 1 4.998 7.78ZM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </button>
                  </div>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="fixed left-0 right-0 top-4 z-50 hidden h-modal items-center justify-center overflow-y-auto overflow-x-hidden sm:h-full md:inset-0"
  id="editActionModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="relative h-full w-full max-w-2xl px-4 md:h-auto">
    <div class="relative rounded-lg bg-white shadow dark:bg-gray-800">
      <div
        class="flex items-start justify-between rounded-t border-b p-5 dark:border-gray-700"
      >
        <h3 class="text-xl font-semibold dark:text-white">Modifier action</h3>
        <button
          type="button"
          class="ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-700 dark:hover:text-white"
          (click)="closeEditActionModal()"
        >
          <svg
            class="h-5 w-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
      <!-- Modal body -->
      <div
        class="max-h-[75vh] space-y-6 overflow-y-auto p-6"
        *ngIf="selectedAction"
      >
        <form [formGroup]="updateActionForm" (ngSubmit)="onUpdateAction()">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6">
              <app-input
                label="Action"
                id="description"
                name="description"
                [type]="'text'"
                formControlName="name"
                placeholder="Action"
                [disabled]="true"
              />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <app-input
                label="Entité"
                id="entity"
                name="entity"
                [type]="'text'"
                formControlName="entity"
                placeholder="Entité"
                showRequiredIndicator="true"
              />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <app-input
                label="Responsable"
                id="responsible"
                name="responsible"
                [type]="'text'"
                formControlName="responsible"
                placeholder="Responsable"
                showRequiredIndicator="true"
              />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <app-input
                label="Date début"
                id="startDate"
                name="startDate"
                [type]="'date'"
                formControlName="startDate"
                showRequiredIndicator="true"
              />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <app-input
                label="Date fin"
                id="endDate"
                name="endDate"
                [type]="'date'"
                formControlName="endDate"
                showRequiredIndicator="true"
              />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <app-input
                label="Livrable"
                id="deliverable"
                name="deliverable"
                [type]="'text'"
                formControlName="deliverable"
                placeholder="Livrable"
              />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label
                class="mb-2 block text-sm font-medium text-gray-500"
                for="actionAttachment"
                >Pièce jointe</label
              >
              <input
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-gray-500 placeholder-gray-500 focus:border-primary-500 focus:outline-none focus:ring-primary-500 sm:text-sm"
                id="actionAttachment"
                type="file"
                name="actionAttachment"
                required
              />
            </div>

            <div class="col-span-6 sm:col-span-3">
              <app-input
                label="État d'avancement"
                id="progressStatus"
                name="progressStatus"
                [type]="'text'"
                formControlName="progressStatus"
                placeholder="État d'avancement"
                showRequiredIndicator="true"
              />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <app-input
                label="Date de réalisation"
                id="realizationDate"
                name="realizationDate"
                [type]="'date'"
                formControlName="realizationDate"
              />
            </div>
            <div class="col-span-6">
              <app-input
                label="Observation"
                id="observation"
                name="observation"
                [type]="'text'"
                formControlName="observation"
                placeholder="Observation"
              />
            </div>
          </div>
          <div
            class="items-center rounded-b border-gray-200 pt-6 dark:border-gray-700"
          >
            <button
              class="rounded-lg bg-primary-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300"
              type="submit"
            >
              Modifier
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="fixed left-0 right-0 top-4 z-50 hidden h-modal items-center justify-center overflow-y-auto overflow-x-hidden sm:h-full md:inset-0"
  id="actionDetailsModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="relative h-full w-full max-w-2xl px-4 md:h-auto">
    <div class="relative rounded-lg bg-white shadow dark:bg-gray-800">
      <div
        class="flex items-start justify-between rounded-t border-b p-5 dark:border-gray-700"
      >
        <h3 class="text-xl font-semibold dark:text-white">Consulter action</h3>
        <button
          type="button"
          class="ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-700 dark:hover:text-white"
          (click)="closeActionDetailsModal()"
        ></button>
        <button
          type="button"
          class="ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-700 dark:hover:text-white"
          (click)="closeActionDetailsModal()"
        >
          <svg
            class="h-5 w-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
      <!-- Modal body -->
      <div class="space-y-6" *ngIf="selectedAction">
        <dl class="sm:divide-y sm:divide-gray-200">
          <div class="py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">Action</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              {{ selectedAction.name }}
              <!-- le nom de l'application ou N/A -->
            </dd>
          </div>
          <div class="py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">Date début</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              {{ selectedAction.startDate | date: "shortDate" || "N/A" }}
            </dd>
          </div>
          <div class="py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">Date fin</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              {{ selectedAction.endDate | date: "shortDate" }}
            </dd>
          </div>
          <div class="py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">
              Date de réalisation
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              {{ selectedAction.realizationDate | date: "shortDate" }}
            </dd>
          </div>
          <div class="py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">Responsable</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              {{ selectedAction.responsible }}
            </dd>
          </div>
          <div class="py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">Livrable</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              {{ selectedAction.deliverable }}
            </dd>
          </div>
          <div class="py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">État d'avancement</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <span *ngIf="selectedAction.progressStatus > 0">
                {{ selectedAction.progressStatus / 100 | percent: "1.0-0" }}
              </span>
            </dd>
          </div>
          <div class="py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">Observation</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              {{ selectedAction.observation }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
