<aside
  id="sidebar"
  class="fixed left-0 top-0 z-20 flex h-full w-64 flex-shrink-0 flex-col pt-16 font-normal transition-width duration-75 lg:flex"
  aria-label="Sidebar"
>
  <div
    class="relative flex min-h-0 flex-1 flex-col border-r border-gray-200 bg-white pt-0"
  >
    <div class="flex flex-1 flex-col overflow-y-auto pb-4 pt-5">
      <div class="flex-1 space-y-1 divide-y divide-gray-200 bg-white px-3">
        <ul class="space-y-2 pb-2">
          @for (link of links; track $index) {
            <li>
              <a
                routerLink="{{ link.path }}"
                routerLinkActive="bg-gray-100"
                class="group flex items-center rounded-lg p-2 text-sm font-medium text-gray-700 hover:bg-gray-100"
              >
                <span class="ml-1" sidebar-toggle-item>
                  {{ link.label }}
                </span>
              </a>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
</aside>
